@import '../../Styles/mixins.scss';

.home-page {
    .favorites-title {
        display: block;
        color: goldenrod;
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;

        div {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            svg {
                margin-right: 1rem;
            }
        }
    }

    .search-input {
        margin: 1.5rem 0 3rem;
    }

    .load-more {
        margin-top: 4rem;
        text-align: center;
        
        button {
            width: 22rem;
            padding: 1rem 0;
            border: 2px solid green;
            border-radius: 5px;
            outline: none;
            background: none;
            color: green;
            font-weight: 700;
            font-size: 2rem;
            cursor: pointer;

            &:hover {
                background: green;
                color: white;

                @include tablet {
                    background: none;
                    color: green;
                }
            }

            @include mobile {
                width: 100%;
            }
        }
    }
}